// Icon fonts
@font-face {
    font-family: 'Glyphicons Regular';
    src: url($fonts-dir-path+'glyphicons/regular/webfont.eot');
    src: url($fonts-dir-path+'glyphicons/regular/webfont.eot?#iefix') format('embedded-opentype'),
    url($fonts-dir-path+'glyphicons/regular/webfont.woff2') format('woff2'),
    url($fonts-dir-path+'glyphicons/regular/webfont.woff') format('woff'),
    url($fonts-dir-path+'glyphicons/regular/webfont.ttf') format('truetype'),
    url($fonts-dir-path+'glyphicons/regular/webfont.svg#glyphiconsregular') format('svg');
}

@font-face {
    font-family: 'Glyphicons Social';
    src: url($fonts-dir-path+'glyphicons/social/webfont.eot');
    src: url($fonts-dir-path+'glyphicons/social/webfont.eot?#iefix') format('embedded-opentype'),
    url($fonts-dir-path+'glyphicons/social/webfont.woff2') format('woff2'),
    url($fonts-dir-path+'glyphicons/social/webfont.woff') format('woff'),
    url($fonts-dir-path+'glyphicons/social/webfont.ttf') format('truetype'),
    url($fonts-dir-path+'glyphicons/social/webfont.svg#glyphicons_socialregular') format('svg');
}

@font-face {
    font-family: 'ubuntubold';
    src: url($fonts-dir-path+'ubuntu/bold/webfont.woff2') format('woff2'),
         url($fonts-dir-path+'ubuntu/bold/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

}

// @font-face {
//     font-family: 'cityburnregular';
//     src: url($fonts-dir-path+'/cityburn/webfont.woff2') format('woff2'),
//          url($fonts-dir-path+'/cityburn/webfont.woff') format('woff'),
//          url($fonts-dir-path+'/cityburn/webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;

// }


// @font-face {
//     font-family: 'Concrete Shoes';
//     src: url($fonts-dir-path+'concreteshoes/ConcreteShoes.woff2') format('woff2'),
//          url($fonts-dir-path+'concreteshoes/Concs___.ttf') format('truetype'),
//          url($fonts-dir-path+'concreteshoes/ConcreteShoes.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Dinbek Medium';
//     src: url($fonts-dir-path+'dinbek/dinbek-medium-webfont.woff2') format('woff2'),
//          url($fonts-dir-path+'dinbek/dinbek-medium-webfont.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Dinbek Bold';
//     src: url($fonts-dir-path+'dinbek/dinbek-bold-webfont.woff') format('woff'),
//          url($fonts-dir-path+'dinbek/dinbek-bold-webfont.ttf') format('truetype'),
//          url($fonts-dir-path+'dinbek/dinbek-bold-webfont.woff2') format('woff2');
//     font-weight: 500;
//     font-style: normal;
// }
