<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>==title==</title>
    <meta name="description" content="==mdescr==">
    ==ex_meta_taga==
    <meta name="author" content="==company==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:title" content="==og_title=="/>
    <meta property="og:description" content="==mdescr=="/>
    <meta property="og:url" content="==og_url=="/>
    <meta property="og:image" content="==og_image=="/>
    <meta property="og:site_name" content="==company=="/>
    <link rel="shortcut icon" href="==favicon_path==">
    <link rel="stylesheet" href="==css_path==">    
    <script src="==modernizr_path=="></script>
    ==js_code_head_close==
    ==adwords_code==
</head>
<body==body_cls==>
    ==js_code_body_open==
    <header class="header">
        <div class="header__mobile hidden-md hidden-lg">
            <a href="" class="mobile-btn mobile-btn--trigger"><i class="fa fa-bars"></i></a>
            ==booking-btn-mob==
            <a href="tel:==phone_number==" class="mobile-btn mobile-btn--right"><i class="fa fa-phone"></i></a>
        </div>
        <div class="mobile-logo hidden-md hidden-lg">
            <a href="/">
                <img src="/graphics/logo.png" alt="==company=="/>
            </a>
        </div>
        <div class="nav-wrap">
            <div class="nav-wrap__mobile hidden-md hidden-lg">
                <a href="#" class="mobile-btn mobile-btn--close"><i class="fa fa-times"></i></a>
                ==language-select-mobile==
            </div>
            
            <nav class="secondary-nav">
                <div class="container-fluid">
                    ==nav-secondary==
                    <a href="tel:==phone_number==" class="header__link hidden-xs hidden-sm"><i class="fas fa-phone"></i> ==phone_number==</a>
                    ==gift-voucher-btn-main==
                    ==language-select==
                </div>
            </nav>    
            <div class="primary-nav-wrap">
                <div class="container-fluid">
                    <div class="header__logo hidden-xs hidden-sm">
                        <a href="/">
                            <img src="/graphics/logo.png" alt="==company=="/>
                        </a>
                    </div>
                    <nav class="primary-nav">
                        ==nav-main==
                        ==booking-btn-main==
                    </nav>
                    ==gift-voucher-btn-mob==
                </div>
            </div>
        </div>
    </header>
    
    ==slideshow_view==
    <main id="main">
        <section class="section ==main_section_cls==">
            ==btn_back_to_deals==
            ==main_section_heading==
            <div class="container">
                <div class="row">
                    <div class="==main_content_left_cls==">
                        <header class="section__header">
                            <div class="motif motif--stroke"></div>
                            <h1 class="section__heading">==heading==</h1>
                        </header>
                        <div class="section__text">
                            ==introduction== 
                            ==home_content_booking_btn==
                        </div>
                    </div>
                    <div class="==main_content_right_cls==">
                        ==home_content_video==
                    </div>
                </div>                
                ==content==
            </div>
        </section>
        ==heading_after_view==
        ==price==
        ==page-content==
        ==mod_view== 
        ==photos_view==
        ==buttons==
        ==mod_extra_view==
        ==quicklinks_view== 
        ==cta_view== 
        ==instagram_view==
        ==testimonial_view==
    </main>
    <footer id="footer">
        <section class="section bg--yellow">
            <div class="container footer__upper">
                <div class="row">          
                    <div class="col-xs-12 col-md-4 footer__content">
                        ==footer_contact_view==   
                    </div>
                    <div class="col-xs-12 col-md-4 text-center">
                        ==newsletter_view==
                        ==social==
                        <p class="footer__credits">==copyright== ==credits==</p>
                    </div>
                    <div class="col-xs-12 col-md-4 text-center">
                        ==footer_explore_view==  
                    </div>
                </div>

            </div>
        </section>
        <section class="section bg--black section--gutter-sm">
            <div class="container footer__lower">
                <div class="row">          
                    <div class="col-xs-12 text-center">
                        ==footer_nav==
                    </div>
                </div>
            </div>
        </section>
    </footer>
    ==body_html==    
    ==scripts-load-top==
    ==jsVars==
        
    <script src="==vender_js_path=="></script>
    <!-- <script src="https://unpkg.com/fuse.js@2.5.0/src/fuse.min.js" type="text/javascript"></script>
    <script src="https://screenfeedcontent.blob.core.windows.net/html/airports.js" type="text/javascript"></script> -->
    ==script-ext==
    <script async src="==js_path==" onload="app.init();"></script>
    ==js_code_body_close==
</body>
</html>